/* Gemini Breakpoints */
$sm: 32em; // 512px
$md: 48em; // 768px
$nineSixty: 60rem; // 960px
$lg: 64em; // 1024px
$collegeMenu: 78.125em; // 1250px
$xl: 80em; // 1280px

/* Specific to the Gemini <header> & <footer> */
.HeaderCampaign,
.FooterCampaign {
    font-family: var(--lato);
    font-size: clamp(1rem, 0.208vw + 0.958rem, 1.125rem);
    line-height: 1.5;
    position: relative;
    z-index: 3;

    :--heading {
        margin: 1.25em 0 0.625em;
    }

    :where(svg:not([fill])) {
        fill: currentColor;
        height: auto;
    }

    .lora-md:not(.large-custom-only, .medium-custom-only) {
        color: var(--heading-color);
        font-family: var(--lora);
        font-size: clamp(1.375rem, 0.6vw + 1.2rem, 1.75rem);
        font-weight: 400;
        letter-spacing: normal;
        line-height: 1.45;
    }

    .lora-sm {
        color: var(--heading-color);
        font-family: var(--lora);
        font-size: clamp(1.25rem, 0.4vw + 1.2rem, 1.5rem);
        font-weight: 400;
        letter-spacing: normal;
        line-height: 1.45;
    }

    button {
        cursor: pointer;
    }

    .Button {
        position: relative;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        padding: 1rem;
        margin: 0 1rem 1rem 0;
        transition: background-color var(--transition), all 0.3s ease-in;
        background-color: var(--purple-lt);
        color: var(--white);
        text-align: center;
        text-decoration: none;
        overflow: hidden;
        width: 100%;
        z-index: 1 !important;
        border: 2px solid transparent;
        outline: 2px solid var(--purple-lt);
        border-radius: 9rem;

        &:hover, &:focus {
            transition: all 0.3s ease-in;
            border: 2px solid white;
            outline: 2px solid var(--purple-lt);
        }
    }

    @media (min-width: $lg) {
        .Button {
            width: auto;
        }
    }

    .Button__icon {
        flex-shrink: 0;
        width: 1rem;
        margin-right: 0.75rem;
    }
}

.screen-reader-text {
    &:not(:focus, :active) {
        position: absolute;
        width: 1px;
        height: 1px;
        overflow: hidden;
        clip-path: inset(50%);
        white-space: nowrap;
    }
}

.zero {
    > :first-child {
        margin-top: 0;
    }

    > :last-child {
        margin-bottom: 0;
    }
}

.overflow-hidden {
    overflow: hidden;
}

.small-only {
    @media (min-width: $lg) {
        display: none !important;
        visibility: hidden !important;
    }
}

.medium-only {
    display: none !important;
    visibility: hidden;

    @media (min-width: $md) {
        display: flex !important;
        visibility: visible;
    }
}

.large-only {
    display: none !important;
    visibility: hidden;

    @media (min-width: $lg) {
        display: flex !important;
        visibility: visible;
    }
}

.small-custom-only {
    @media (min-width: $nineSixty) {
        display: none;
        visibility: hidden;
    }
}

.large-custom-only {
    color: var(--heading-color);
    font-family: var(--lora);
    font-size: clamp(1rem, 2.25vw, 1.75rem);
    font-weight: 400;
    letter-spacing: normal;
    line-height: 1.45;
    max-width: 13ch;
    white-space: normal;
    word-break: break-word;

    @media (min-width: $md) {
        max-width: 100%;
    }
}

.medium-custom-only {
    color: var(--heading-color);
    font-family: var(--lora);
    font-size: clamp(1rem, 2.15vw, 1.6rem);
    font-weight: 400;
    letter-spacing: normal;
    line-height: 1.45;
    max-width: 100%;
    white-space: normal;
    word-break: break-word;
}